<?xml version="1.0"?>
<configuration>

  <connectionStrings>

                
    
    <add name="gsOrganogramaModel" connectionString="metadata=res://Negocio/gsatOrganogramaModel.csdl|res://Negocio/gsatOrganogramaModel.ssdl|res://Negocio/gsatOrganogramaModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=simulado2.world;PASSWORD=organograma_user_d;PERSIST SECURITY INFO=True;USER ID=ORGANOGRAMA_USER&quot;" providerName="System.Data.EntityClient"/>




  </connectionStrings>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
